* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

#map-wrapper {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, rgb(45, 136, 216), #A7C8E4, #A7C8E4);
}

svg#map {
  width: 100%;
  height: 100%;
}
